<head>
    <meta charset="utf-8" />
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #77DDE7;">
    <a class="navbar-brand" href="#">Спортивное приложение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            

			<li class="nav-item">
                <a class="nav-link" href="/exercise_body">Упражнения</a>
            </li>
            
        </ul>
         <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" href="/mainPage">Выйти</button>
        </form>
    </div>
</nav>

<body>
    <h1 style="text-align: center">Редактирование упражнения</h1>
        <form action="edit_exercise_all/update" method="post">
                <div class="container">
				{{# each items }}

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="name"><b>Название</b></label>
                                <textarea class="form-control" placeholder="Название" id="name" name="name" rows="1">{{this.exercisename}}</textarea>
                            </div>
                        </div>
                    </div>

                <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="cost"><b>Сложность </b></label>
                                <input type="text" class="form-control" placeholder="Сложность" id="complexity" name="complexity" value={{this.complexity}}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="comment"><b>Комментарий </b></label>
                                <textarea class="form-control" placeholder="Комментарий" id="comment" name="comment" rows="3">{{this.comment}}</textarea>
                            </div>
                        </div>
                    </div>

                    
					 <div class="row">
                        <div class="col-md-4 col-md-push-8">
                            <button type="submit" class="btn btn-info">Изменить</button>
                            <input type="button" class="btn btn-info" onclick="history.back();" value="Назад"/>
                        </div>
                    </div>
					
				{{/each}}                
			</div>
            </div>
        </form>
    </div>
</body>